<div class="container mt-9 mb-4">
    <div class="row mx-auto text-center ml-auto align-self-center">
        <div class="col-md-6 mx-auto">
            <div class="card" style="width:30rem;">
                <div class="card-header">CREAMA DE BONIATO</div>
                <img src="../../assets/img/crema_de_boniato_74630_paso_6_600.jpg" class="card-img-top sizeimage"
                    alt="...">
                <div class="card-body scroll">
                    <h5 class="card-title">RECETA DE CREAMA DE BONIATO</h5>
                    <p class="card-text text-left">La crema de boniato o batata es sencilla, rápida, saciante y barata,
                        ¿qué más se puede pedir? El boniato, llamado también batata o camote, es un tubérculo de otoño,
                        de manera que debemos aprovechar la temporada para elaborar todo tipo de recetas con él. En este
                        sentido, tendemos a relacionar este alimento con recetas dulces debido a su sabor, sin embargo,
                        también podemos hacer platos salados como esta crema de boniato, que queda suave y aromática
                        gracias a las especias que añadiremos.</p>
                    <p class="text-left">INGREDIENTES: <br>
                        ♦1 boniato grande <br>
                        ♦2 zanahorias medianas <br>
                        ♦2 patatas pequeñas <br>
                        ♦1 litro de agua o caldo de verduras <br>
                        ♦1 pizca de sal <br>
                        ♦1 pizca de pimienta <br>
                        ♦1 cucharadita de jengibre <br>
                        <br><br>
                        Pasos a seguir para hacer esta receta: <br>
                        1-Para preparar la crema de batata o boniato lo primero que deberás hacer es dejar listas las
                        verduras. Para ello, pela las patatas, limpia las zanahorias, pela y corta el boniato en trozos
                        medianos. Nosotros hemos optado por hacer una crema de boniato y zanahoria, pero puedes añadir
                        más verduras a tu gusto, como calabaza, calabacín o cebolla.

                        <br>
                        2-Calienta una olla con agua o caldo de verduras (también puede ser mitad y mitad) a fuego
                        medio.
                        Añade las patatas, la zanahoria y el boniato, teniendo en cuenta que las verduras han de quedar
                        cubiertas por el agua para que se cuezan bien. Deja cocinar hasta que todos los ingredientes
                        estén bien cocidos.
                        <br>
                        También puedes hacer crema de boniato y manzana añadiendo a la olla una manzana verde pelada y
                        troceada, le dará un toque de sabor exquisito.
                        <br>
                        Truco: Si usas una olla a presión ahorrarás tiempo, ya que en 10 minutos suelen estar listas.
                        Con una olla convencional el tiempo de cocción ronda los 20 minutos.
                        <br>
                        3-Prepara las especias que vas a usar para aromatizar la crema de boniato. Nosotros hemos
                        escogido
                        un poco de sal, pimienta y media cucharadita de jengibre. El jengibre le da un toque picante muy
                        bueno, pero no hay que abusar porque quedaría demasiado picante.

                        <br>
                        4-Cuando veas que las verduras están casi cocidas, agrega las especias, remueve y mezcla bien.
                        <br>
                        5-Pasa las verduras a un vaso batidor, añade un poco del agua de la cocción y empieza a triturar
                        con una batidora eléctrica de mano. Si ves que la crema de queda muy espesa, ve añadiendo agua
                        poco a poco. Si te sobra agua no la tires, ya que se trata de un caldo de verdura delicioso que
                        puedes usar para hacer otras recetas.
                        <br>
                        6-Pasa la crema de boniato a la cazuela y vuelve a calentarla. Pruébala para rectificar con sal
                        y
                        pimienta si fuese necesario. También puedes añadir otras especias, como curry, cúrcuma, nuez
                        moscada..., así como más agua de la cocción de las verduras para que adquiera una textura
                        todavía más ligera. Lo bueno de estas recetas es que se pueden adaptar totalmente al gusto de
                        quien las prepara.
                        <br>
                        7-Cuando esté bien caliente, sírvela con un chorrito de aceite por encima y pimienta. También
                        puedes degustar la receta de crema de boniato con trozos de pan tostado.
                        <br> <br>
                        Si te ha gustado la receta de Crema de boniato, te sugerimos que entres en nuestra categoría de
                        Recetas de Cremas.
                        <br><br>
                        Con qué acompañar la crema de boniato
                        Ahora que sabes cómo hacer crema de boniato o batata, te recomendamos servirla a modo de
                        entrante para degustar, después, un segundo plato. Para ello, te recomendamos escoger entre
                        estas ideas, también ligeras y llenas de sabor:</p>
                </div>
            </div>

        </div>
        <div class="col-md-6 mx-auto">
            <div class="card" style="width:30rem;">
                <div class="card-header">CREMA DE CILANTRO</div>
                <img src="../../assets/img/crema_de_cilantro_73789_600.jpg" class="card-img-top sizeimage" alt="...">
                <div class="card-body scroll">
                    <h5 class="card-title">RECETA DE CREMA DE CILANTRO</h5>
                    <p class="card-text text-left">La crema de cilantro es muy fácil de hacer, está deliciosa y es muy
                        nutritiva. Además, puede servirse tanto fría como caliente, de manera que es ideal para
                        cualquier época del año. En apenas 15 minutos tendremos listo un plato para cenar o para
                        acompañar cualquier tipo de carne, pescado o elaboración vegetariana en caso de seguir este tipo
                        de alimentación.</p>
                    <p class="text-left">INGREDIENTES: <br>
                        ♦1 manojo de cilantro <br>
                        ♦½ cebolla dulce <br>
                        ♦1 pastilla de caldo de pollo o verduras <br>
                        ♦1 vaso de agua <br>
                        ♦1 vaso pequeño de queso crema light <br>
                        ♦1 cucharada sopera de mantequilla <br>
                        ♦200 mililitros de crema de soja o nata <br>
                        ♦3 cucharadas soperas de brandy<br> <br>
                        Elaboración paso a paso <br>

                        1-Pon una cazuela a calentar con un trozo de mantequilla y añade cebolla cortada en cubos,
                        rehógala y remueve. Deja que se quede la cebolla transparente para poder seguir con la receta.
                        <br>
                        2-Vierte el brandy y ve removiendo mientras lo agregas. Es muy importante añadirlo con mucho
                        cuidado para que no se prenda. Una vez añadido por completo, pasa al siguiente paso
                        inmediatamente.
                        <br>

                        3-Agrega el vaso de agua y baja el fuego si lo tienes alto. Tapa la cazuela y deja que cueza
                        todo
                        durante 2 minutos en cuanto rompa a hervir.

                        <br> 4-Pasados los dos minutos, añade una pastilla de caldo desmenuzada y sigue removiendo para
                        que se
                        integre bien todo. Si quieres hacer la crema de cilantro con pollo, opta por usar una pastilla
                        con este sabor. Ahora bien, si prefieres una crema de cilantro vegana, mejor utiliza una
                        pastilla de caldo de verdura.
                        <br>
                        También puedes añadir directamente caldo de pollo o caldo de verduras reduciendo la cantidad de
                        agua para compensar el líquido total.
                        <br>
                        5-Corta con las manos o las tijeras las ramas de cilantro y deposita los trozos en la cazuela,
                        dejando que cueza tapado durante 3 minutos. Con eso bastará mientras vas realizando los
                        siguientes pasos.
                        <br>
                        Truco: No dejes que el cilantro cueza más tiempo del necesario o perderá su color verde intenso
                        y la frescura de su sabor.

                        <br>
                        6-Añade el queso crema, remueve y cuece durante 1 minuto más. Si no te apetece queso crema
                        puedes
                        sustituirlo por otro queso de tipo cremoso, pero nunca un queso con demasiado sabor o la crema
                        de cilantro no será tan intensa.
                        <br>
                        7-Agrega la crema de soja o nata para cocinar y retira del fuego la cazuela. Ya solo tienes que
                        pasar la preparación por un procesador o triturarlo todo con una batidora eléctrica de mano.

                        Truco: Para hacer una crema de cilantro light, recomendamos optar por crema de soja o sustituir
                        este ingrediente en su totalidad por agua o caldo.
                        <br>
                        8-Sirve la crema de cilantro bien calentita, acompañada de tostones de pan. Otra opción
                        totalmente
                        válida es servir pollo con crema de cilantro por encima, pasta o pescado, ya que encaja a la
                        perfección con todas estas recetas. Así pues, no dudes en cocinar unos filetes de pechuga a la
                        plancha, en hervir un poco de pasta o asar el pescado que más te guste al horno.</p>
                </div>
            </div>

        </div>
    </div>
    <div class="row mx-auto text-center ml-auto align-self-center">
        <div class="col-md-6 mx-auto">
            <div class="card" style="width:30rem;">
                <div class="card-header">CREMA DE CALABAZA AZADA</div>
                <img src="../../assets/img/crema_de_calabaza_55607_600.jpg" class="card-img-top sizeimage" alt="...">
                <div class="card-body scroll">
                    <h5 class="card-title">RECETA DE CREMA DE CALABAZA AZADA</h5>
                    <p class="card-text text-left">crema de calabaza, también conocida como ahuyama. Esta preparación es
                        ideal para invierno ya que por su agradable sabor y sus ingredientes aporta calorías al cuerpo.
                        ¡Toma nota de los ingredientes y ponte manos a la obra!</p>
                    <p class="text-left">INGREDIENTES: <br>
                        ♦200 gramos de calabaza o ahuyama <br>
                        ♦1 copa de Vino blanco <br>
                        ♦3 unidades de patatas medianas <br>
                        ♦1 taza de Leche (240 mililitros) <br>
                        ♦1 unidad de zanahoria <br>
                        ♦1 unidad de cebolla blanca <br>
                        ♦120 mililitros de crema de leche <br>
                        ♦80 gramos de queso parmesano <br>
                        ♦1 pizca de pasta de ajo <br>
                        ♦1 pizca de Sal <br>
                        ♦1 pizca de Pimienta br
                        <br><br>
                        Pasos a seguir para hacer esta receta: <br>
                        1-Nuestro primer paso para elaborar la crema de calabaza es dejar listos todos los ingredientes
                        de
                        esta receta.
                        <br>
                        2-Pela la calabaza y córtala en cuadros similares para que su cocción sea pareja, lleva los
                        cuadros a una olla con suficiente agua para que se cocinen.

                        <br>
                        3-Adiciona las patatas cortadas en cuadros medianos con un poco de sal al gusto.
                        <br>
                        4-Una vez observes que está hirviendo la base para realizar la crema de calabaza, añade la
                        zanahoria en cuadros medianos y la cebolla blanca en cascos. Deja hervir los ingredientes
                        durante 15 minutos aproximadamente y retira del fuego.
                        <br>
                        5-Cuando observes que los vegetales están fríos, procesa la crema de calabaza con un poco de
                        líquido o caldo de la preparación.

                        <br>
                        6-Lleva nuevamente a fuego medio, agrega la taza de leche, sal, pimienta y un poco de pasta de
                        ajo
                        al gusto para que le demos un toque especial de sabor, añade también el vino blanco.
                        <br>
                        7-Sirve la crema de calabaza casera agregando un poco de crema de leche encima y queso parmesano
                        al gusto. Si tienes algún comentario o inquietud, escríbenos. ¡Disfruta!
                    </p>
                </div>
            </div>

        </div>
        <div class="col-md-6 mx-auto">
            <div class="card" style="width:30rem;">
                <div class="card-header">CREMA DE VICKYSSOISE</div>
                <img src="../../assets/img/crema_vichyssoise_74451_600.jpg" class="card-img-top sizeimage" alt="...">
                <div class="card-body scroll">
                    <h5 class="card-title">RECETA DE CREMA DE VICKYSSOISE</h5>
                    <p class="card-text text-left">Esta receta de crema vichyssoise o crema de puerro es un plato muy
                        tradicional, aunque hay dudas sobre si se originó en Francia o en Estados Unidos. Se consume
                        igual fría en verano como caliente en invierno, y se prepara con el puerro y las patatas como
                        ingredientes principales. Es una excelente crema para disfrutar durante todo el año.</p>
                    <p class="text-left">INGREDIENTES: <br>
                        ♦2 puerros <br>
                        ♦1 cebolla <br>
                        ♦3 patatas <br>
                        ♦1½ litros de caldo de pollo,verduras o agua <br>
                        ♦2 cucharadas de postre de mantequilla <br>
                        ♦150 mililitros de nata o crema para cocinar <br>
                        ♦1 pizca de pimienta <br>
                        ♦1 pizca de sal<br> <br>
                        Pasos a seguir para hacer esta receta:
                        <br>
                        1-Limpia las verduras. Pela los puerros, córtalos por la mitad y lávalos. Corta nuevamente en
                        trozos pequeñitos. Pela y pica la cebolla.

                        <br>
                        2-En una cazuela pon las 2 cucharadas de mantequilla y un chorro de aceite de oliva. Incorpora
                        la
                        cebolla y los puerros. Saltéalos y cocina durante 5 minutos para que se doren un poco y la crema
                        vichyssoise casera quede con más sabor.
                        <br>
                        3-Pela las patatas, lávalas y córtalas en trozos. Añádelas a la cazuela, remueve todo y mezcla.
                        <br>

                        4-Añade el caldo o agua, también se puede hacer el caldo con una pastilla. Deja que cubra todo y
                        que cocine durante 20 minutos o hasta que las patatas queden tiernas. Añade un poco de sal y
                        pimienta. Si ves que hace falta más caldo, ve añadiéndolo.
                        <br>

                        5-Pincha con un cuchillo una patata y, si está tierna, aparta del fuego y con la batidora
                        tritura
                        todas las verduras hasta que nos quede una crema fina.

                        <br>

                        6-Pon al fuego la cazuela con todo triturado, añade la crema y mezcla todo. Prueba de sal y
                        rectifica si es necesario. Si te gusta que quede más fina la crema vichyssoise, se puede pasar
                        por un colador. Apaga el fuego y deja enfriar, cuando esté lista métela en la nevera hasta la
                        hora de servir.</p>
                </div>
            </div>

        </div>

    </div>
</div>