<div class="container mt-9 mb-4">
    <div class="row mx-auto text-center ml-auto align-self-center">
        <div class="col-md-6 mx-auto">
            <div class="card" style="width:30rem;">
                <div class="card-header">CUADRADOS DE MANZANAS</div>
                <img src="../../assets/img/cuadrados-de-manzanas--lg-151427p226339.jpg" class="card-img-top sizeimage"
                    alt="...">
                <div class="card-body scroll">
                    <h5 class="card-title">RECETA DE CUADRADOS DE MANZANAS</h5>
                    <p class="card-text text-left">Quién dijo que no se pueden hacer cosas ricas y económicas? Estas
                        masitas de manzana (la tentación de muchas confiterías) no sólo hacen ahorrar moneditas sino,
                        además, un tiempo precioso. ¡Son facilísimas!</p>
                    <p class="text-left">INGREDIENTES:
                        <br>♦Número de partes: 4
                        <br> ♦Para la masa:
                        <br> ♦400 gr de harina leudante
                        <br> ♦200 gr de manteca (mantequilla) bien fría cortada en cubos
                        <br> ♦120 gr de azúcar
                        <br> ♦1 pizca de sal
                        <br> ♦ralladura de 1/2 limón
                        <br> ♦1 cucharada de esencia de vainilla
                        <br> ♦1 huevo
                        <br><br>
                        Relleno:
                        <br>♦7 manzanas verdes
                        <br> ♦10 cucharadas de azúcar
                        <br> ♦1 cdita. de canela
                        <br> ♦1 puñado de pasas de uva sin semillas
                        <br> ♦1 puñado de nueces picadras (opiconal)
                        <br><br>
                        Glaseado: <br>
                        ♦1 taza de azúcar impalpable <br>
                        ♦unas gotas de limón <br>

                        <br>

                        1-Procesar la harina, azúcar, sal, ralladura, esencia junto con la manteca (mantequilla) cortada
                        en
                        cubos, formar un arenado, agregar el huevo y unir, si hiciera falta, incorporar unas cucharadas
                        de
                        agua helada, formar un bollo sin amasar, cubrir y llevar a la heladera.
                        <br>
                        2-Enmantecar un molde rectangular de aproximadamente 35x25cm., cubrir con las ¾ partes de la
                        masa,
                        esparcir migas de 2 vainillas o algunas galletas dulces trituradas, volcar el relleno, emparejar
                        y
                        cubrir con el resto de la masa, pinchar con un tenedor y llevar a un horno precalentado, 180°,
                        aproximadamente 40 minutos. Apenas sale del horno cubrir con un glasé, dejar enfriar y cortar
                        cuadrados.
                        <br>
                        Relleno:
                        3-Pelar, cortar en cubos las manzanas y cocinar hasta que estén tiernas, formar un puré bien
                        seco,
                        incorporar las pasas y las nueces, mezclar.
                        <br>
                        Glaseado:
                        4-1 taza de azúcar impalpable y gotas de limón hasta lograr una consistencia espesa, pero
                        corrediza.
                        Volcarlo sobre la masa cocida ni bien sale del horno, alisar con espátula y dejar enfriar antes
                        de
                        cortar.</p>
                </div>
            </div>

        </div>
        <div class="col-md-6 mx-auto">
            <div class="card" style="width:30rem;">
                <div class="card-header">CUADRADOS DE MANZANAS</div>
                <img src="../../assets/img/pay-de-calabaza.jpg" class="card-img-top sizeimage" alt="...">
                <div class="card-body scroll">
                    <h5 class="card-title">RECETA DE CUADRADOS DE MANZANAS</h5>
                    <p class="card-text text-left">Quién dijo que no se pueden hacer cosas ricas y económicas? Estas
                        masitas de manzana (la tentación de muchas confiterías) no sólo hacen ahorrar moneditas sino,
                        además, un tiempo precioso. ¡Son facilísimas!</p>
                    <p class="text-left">INGREDIENTES: <br>
                        Para la Costra <br>
                        ♦1 taza harina de trigo todo uso (130gr) <br>
                        ♦6 cucharadas mantequilla bien fría (80gr) <br>
                        ♦1 1/2 cucharadas azúcar glass <br>
                        ♦1 yema de huevo fría <br>
                        ♦1 cucharada leche fría <br><br>
                        Para el relleno <br>
                        ♦1 lata leche condensada <br>
                        ♦3 huevos <br>
                        ♦1 1/2 taza puré de calabaza casero <br>
                        ♦1 1/2 cucharadita canela en polvo <br>
                        ♦1/4 cucharadita clavo en polvo <br>
                        ♦1/4 cucharadita nuez moscada <br> <br>
                        Elaboración paso a paso <br>
                        -Prepara la costra <br>
                        1-En un tazón mediano, combina la harina con el azúcar glass.
                        <br>
                        2-Añade la mantequilla y, usando tus dedos, incorpórala a la harina sólo hasta que quede como
                        arena. No trabajes demasiado la mantequilla porque no queremos que se derrita y la masa quede
                        caliente.
                        <br>
                        3-Añade la yema de huevo y la leche y amasa hasta formar una bola compacta. Nuevamente, no
                        trabajes demasiado la masa.
                        <br>
                        4-Cúbrela con plástico adherente y refrigera mientras preparas el relleno.
                        <br><br>
                        Prepara el relleno
                        <br>
                        1-En el vaso de la licuadora, coloca todos los ingredientes del relleno en el orden que están.
                        Licúa hasta que quede una mezcla homogénea.
                        <br><br>
                        Monta el Pay
                        <br> 1-En una superficie enharinada, coloca la bolita de masa para la costra y extiéndela con un
                        rodillo hasta que quede un círculo lo suficiente grande para cubrir la base de tu molde para
                        pay. <br>
                        2-Enrolla la masa en el rodillo y con cuidado transfiérela al molde.
                        3-Presiona suavemente la masa contra el molde para que no queden bolsas de aire entre la masa y
                        el
                        molde y que cubra todo muy bien.
                        <br> 4-Corta cualquier exceso de masa de las orillas y utiliza esos cortes para parchar
                        cualquier
                        lugar
                        en la orilla que se haya quedado sin costra. Después, usando un tenedor, presiona la masa sobre
                        toda la orilla.
                        <br>
                        5-Vierte la mezcla del relleno en el molde y cubre cuidadosamente las orillas con papel
                        aluminio.
                        <br>
                        6-Hornea a 180ºC (350ºF) por 40 minutos. Sin sacar del horno y con mucho cuidado de no quemarte,
                        <br>
                        7-retira el papel aluminio de las orillas y deja hornear por 10 minutos más o hasta que las
                        orillas se vean ligeramente doradas.
                        Retira del horno y deja enfriar por completo. Refrigera el pay hasta que estés listo para
                        servir.
                        <br>
                        8-Acompaña el pay con un poco de crema batida y canela en polvo o una bola de helado de
                        vainilla.
                        <br><br>
                        Notas
                        <br> 1-Para la costra siempre uso esta receta de pasta quebrada dulce, es la misma que uso para
                        el
                        Pay
                        de Manzana, me encanta el sabor y textura que tiene. Es mi favorita para cuando hago cualquier
                        tipo de pay y es tan fácil de hacer que la tengo lista en 5 minutos. Si tu lo prefieres, puedes
                        comprar la costra que ya venden lista para rellenar, pero te recomiendo ampliamente que lo hagas
                        con esta receta que te doy aquí.

                        <br> 2-Para aprender a hacer Puré de Calabaza Casero visita este post.
                        <br> 3-El molde que yo uso es de 9 pulgadas, este tamaño es el perfecto para la cantidad de masa
                        de
                        costra y relleno.
                        <br>
                        4-Si usas una costra comercial, cubrir las orillas con aluminio no es necesario ya que,
                        normalmente, estas masas vienen bastante gruesas en las orillas. Esto se hace para prevenir que
                        se queme la orilla antes de que se cocine el pay.F</p>
                </div>
            </div>

        </div>

    </div>
    <div class="row mx-auto text-center ml-auto align-self-center">
        <div class="col-md-6 mx-auto">
            <div class="card" style="width:30rem;">
                <div class="card-header">CHONGOS ZAMORANOS</div>
                <img src="../../assets/img/chongos.jpg" class="card-img-top sizeimage" alt="...">
                <div class="card-body scroll">
                    <h5 class="card-title">RECETA DE CHONGOS ZAMORANOS</h5>
                    <p class="card-text text-left">Quién dijo que no se pueden hacer cosas ricas y económicas? Estas
                        masitas de manzana (la tentación de muchas confiterías) no sólo hacen ahorrar moneditas sino,
                        además, un tiempo precioso. ¡Son facilísimas!</p>
                    <p class="text-left">INGREDIENTES:
                        CHONGOS ZAMORANOS
                        <br><br>
                        Relleno:
                        <br>♦7 manzanas verdes
                        <br> ♦10 cucharadas de azúcar
                        <br> ♦1 cdita. de canela
                        <br> ♦1 puñado de pasas de uva sin semillas
                        <br> ♦1 puñado de nueces picadras (opiconal)
                        <br><br>
                        <br> Para hacer los chongos zamoranos necesitarás mucha paciencia, ya que tomará alrededor de
                        dos horas obtener este postre.
                        <br> Comienza por entibiar la leche con la canela, el azúcar y el piloncillo.
                        <br> Truco: Evita el punto de ebullición.
                        <br> Cuando esté tibia, agrega poco a poco el jugo de limón, mezcla ligeramente.
                        <br> Apaga el fuego y deja que repose durante 30 minutos.
                        <br> Pasados los 30 minutos notarás que la leche ha cuajado un poco.
                        <br> De manera que enciende de nuevo el fuego y deja que se cocine durante 2 horas a fuego bajo
                        y sin mover.
                        <br> Durante todo ese tiempo notarás que la leche comenzará a soltar un suero, parecerá agua.
                        <br> Pero no te asustes porque esto es completamente normal.
                        <br> Cuando ya hayan pasado las 2 horas, retira la preparación del fuego y cuela los chongos,
                        pero sin desechar el suero porque lo usarás.
                        <br> Así pues, una vez colados, sírvelos en recipientes individuales y añade por encima un poco
                        del suero.
                        <br>¡Y listo! A disfrutar de este tradicional postre.
                        <br> Aunque lleva tiempo, la receta de chongos zamoranos sin cuajo es muy fácil de hacer porque
                        apenas se necesita mover la preparación.
                        <br> Puedes decorar con una rama de canela.
                        <br> Si te ha gustado la receta de Chongos zamoranos, te sugerimos que entres en nuestra
                        categoría de Recetas de Otros postres.
                        <br> También puedes visitar una selección de las mejores recetas mexicanas.
                    </p>
                </div>
            </div>

        </div>
        <div class="col-md-6 mx-auto">
            <div class="card" style="width:30rem;">
                <div class="card-header">TARTA FRÍA DE GALLETA MARIA CASERA</div>
                <img src="../../assets/img/torta_fria_de_galleta_maria_casera_74545_600.jpg" class="card-img-top sizeimage" alt="...">
                <div class="card-body scroll">
                    <h5 class="card-title">RECETA DE TARTA FRÍA DE GALLETA MARIA CASERA</h5>
                    <p class="card-text text-left">La torta fría con base de galletas es una torta bastante popular en
                        el mundo entero. De hecho, hay varias versiones europeas, latinoamericanas y hasta asiáticas.
                        Una de estas versiones utiliza la popular galleta María por tres razones fundamentales: son
                        galletas grandes, son económicas y su sabor es bastante neutro, por lo que combina bien con
                        cualquier crema.</p>
                    <p class="text-left">INGREDIENTES: <br>

                        ♦100 gramos de chocolate oscuro <br>
                        ♦100 gramos de chocolate blanco <br>
                        ♦500 mililitros de leche <br>
                        ♦2 cucharadas soperas de maicena <br>
                        ♦100 gramos de leche condensada <br>
                        ♦360 gramos de galleta tipo María <br>
                        ♦Leche suficiente para remojar las galletas <br> <br>
                        Pasos a seguir para hacer esta receta:
                        <br>
                        1-Para empezar con esta torta fría de galletas María sin horno, pesa los chocolates blanco y
                        negro. Ahora mide el resto de los ingredientes a la mitad, es decir, separa 250 y 250 mililitros
                        de leche, dos cucharadas de maicena separadas, 50 y 50 de leche condensada.
                        <br>
                        2-Tanto la natilla de chocolate blanco como la de chocolate oscuro se preparan de la misma forma
                        y
                        con igual cantidad de ingredientes. Por lo tanto, los procedimientos a continuación deben
                        realizarse exactamente igual para una natilla y para la otra. Toma una pequeña parte de uno de
                        los 250 mililitros de leche y disuelve allí una de las cucharadas de maicena.

                        <br>
                        3-Vamos a comenzar con la natilla de chocolate blanco, tú puedes comenzar con la que desees.
                        Lleva
                        al fuego el resto de la leche y el chocolate blanco hasta que este se disuelva. Remueve
                        continuamente.
                        <br>
                        4-Agrega 50 gramos de leche condensada. Mezcla muy bien. Por último, vierte la maicena disuelta
                        y
                        cocina hasta que espese. Ahora, repite todo el proceso con el chocolate oscuro. Si cuentas con
                        ayuda en la cocina, puedes elaborar ambas natillas al mismo tiempo.

                        Truco: Quizás notes que la crema de chocolate blanco tarde más en espesar. Esto se debe a su
                        mayor contenido de manteca de cacao.
                        <br>
                        5-Cuando tengas ambas natillas juntas y ambas hayan enfriado lo suficiente (no es necesario que
                        estén completamente frías), es el momento de armar la torta fría de galleta María sin horno.

                        <br>
                        6-Remoja muy bien cada galleta o trocito de galleta antes de colocarlo en la torta. Coloca una
                        primera capa de galletas María en el fondo de un molde, mejor si es desmontable, aunque no es
                        absolutamente necesario. Tal vez necesites picar algunas galletas en pedacitos para rellenar la
                        mayor cantidad de espacios vacíos.
                        <br>
                        7-Ahora coloca una primera capa de cualquiera de las natillas. Cubre de nuevo con galletas.
                        <br>
                        8-Repite el proceso, pero ahora con la otra natilla. Repite hasta completar la altura que
                        desees.
                        Para completar la altura de la foto se utilizaron 10 capas de galletas.
                        <br><br>
                        Lleva a la nevera por 4 horas como mínimo. Mientras más fría, mejor, pues la torta no se
                        desarmará al servir.</p>
                </div>
            </div>

        </div>

    </div>
</div>