<div class="container mt-9 mb-4">
    <h3 align="center">Aves y Carnes</h3> <hr>
    <div class="mt-5 row mx-auto text-center ml-auto align-self-center">
        <div class="col-md-6 mx-auto">
            <div class="card" style="width:30rem;">
                <div class="card-header">Tiras de carne al aroma de naranja</div>
                <img src="../../assets/img/img_tiras_de_carne_al_aroma_de_naranja_13667_600.jpg"
                    class="card-img-top sizeimage" alt="...">
                <div class="card-body scroll">
                    <h5 class="card-title">Receta de Tiras de carne al aroma de naranja</h5>

                    <p class="text-left">INGREDIENTES PARA DOS PERSONAS:
                        <br>
                        ♦2 de filetes hermosos de ternera <br>
                        ♦1 filete hermoso de cerdo <br>
                        ♦150 gr De arroz basmati <br>
                        ♦2-3 cucharadas de sake <br>
                        ♦2-3 cucharadas de salsa de soja <br>
                        ♦1 pizca de jengibre fresco <br>
                        ♦Ralladura de una naranja <br>
                        ♦1 cucharadita de azúcar moreno <br>
                        ♦3 dientes de ajo <br>
                        ♦20-30 granos de pimienta de Jamaica <br>
                        ♦Pimienta negra <br>
                        ♦Agua <br>
                        ♦Aceite virgen extra Hojiblanca <br>
                        ♦Sal <br>
                        ♦Perejil <br>
                        <br>
                        Pasos a seguir para hacer esta receta:
                        <br> 1
                        Corta los filetes de ternera y la de cerdo en tiras, salpimenta y reserva.
                        <br>
                        2
                        Mezcla en un cuenco el sake, el azúcar moreno, la ralladura de naranja, un poco de jengibre
                        rallado, un poquito de aceite, sal y pimienta negra.
                        <br>
                        3
                        Agrega la carne y deja macerar durante media hora.
                        <br>
                        4Escurre y reserva.
                        <br>
                        5
                        En una cazuela dora los dientes de ajo con un chorrito de aceite.
                        <br>
                        6
                        Cuando estén dorados añade el arroz y a continuación agrega el agua (la medida del arroz y un
                        poquito más).
                        <br>
                        7
                        Sazona y cocina unos 10 minutos.
                        <br>
                        8
                        Pasado este tiempo, deja reposar 4-5 minutos.
                        <br>
                        9
                        En una sartén saltea la carne macerada (y bien escurrida) con un poquito de aceite.
                        <br>

                        10
                        Condimenta con pimienta de Jamaica y resérvalo en un plato sin que se haga demasiado.
                        <br>
                        11
                        En la misma sartén, añade la mezcla del macerado y deja reducir la salsa durante 4-5 minutos.
                        <br>
                        12
                        Incorpora las tiras de carne.
                        <br>
                        13
                        Coloca en un plato el arroz con los dientes de ajo.
                        <br>
                        14
                        Dispón la carne al lado y vierte la salsa reducida por encima.
                        <br>
                        15
                        Decora con una ramita de perejil.
                        <br>
                        16
                        En la cocina occidental el jengibre puede emplearse en guisos de carne y aves, sopas de verdura
                        y platos de pescado.
                        <br>
                        17
                        En tartas, panes, bizcochos y galletas también se utiliza.
                        <br>
                        18
                        Para 4 personas.</p>
                </div>
            </div>

        </div>

        <div class="col-md-6">
            <div class="card" style="width:30rem;">
                <div class="card-header">Pan de carne</div>
                <img src="../../assets/img/pan_de_carne_74639_600.jpg" class="card-img-top sizeimage" alt="...">
                <div class="card-body scroll">
                    <h5 class="card-title">Receta de Pan de carne</h5>
                    <p class="card-text text-left">Si hay un alimento que los argentinos adoran es la carne. De hecho,
                        las mismas estadísticas nacionales lo dicen: se calcula que se consumen más de 100 kilos anuales
                        ¡por persona! Por este motivo, en este país abundan los platos con este alimento como
                        ingrediente principal. Una de las preferidas es esta receta del pan de carne.
                        <br>
                        INGREDIENTES </p>
                    <p class="text-left">

                        ♦500 gramos de carne molida <br>
                        ♦1 huevo <br>
                        ♦Sal y especias al gusto <br>
                        ♦4 huevos <br>
                        ♦1 zanahoria <br>
                        ♦½ pimentón rojo <br>
                        ♦½ pimentón verde <br>
                        ♦100 gramos de queso rebanado <br>
                        ♦100 gramos de jamón <br>
                        <br> Pasos a seguir para hacer esta receta: <br><br>
                        1
                        Une la carne molida con el huevo, la sal y las especias de tu elección. En este caso, utilizamos
                        pimienta, comino, orégano, ajo en polvo y cilantro en polvo. Amasa bien.
                        <br> 2
                        Lleva a hervir la zanahoria y los huevos por unos 15 minutos desde el momento en el que rompe el
                        hervor.

                        <br>
                        3
                        Pasado este tiempo, pica los huevos a la mitad y retira las puntas. Pica también la zanahoria en
                        tiras de ½ cm de ancho, aproximadamente. Por último, haz lo mismo con los pimentones. También
                        pica en tiras el jamón y el queso.
                        <br> 4
                        Precalienta el horno a 250 °C. En la bandeja que utilizarás para llevar al horno, coloca papel
                        de aluminio y úntalo con aceite. Extiende allí la carne aderezada. Esta debe tener una altura de
                        unos dos centímetros, porque si no, quedará muy delgada.
                        <br>
                        5
                        Coloca los huevos y, a los lados, el jamón y el queso; también los pimentones y las zanahorias.
                        Procura que queden muy pegados entre sí para que puedas compactar bien el pan de carne. Con la
                        ayuda del papel de aluminio enrolla la carne para envolver el relleno, procura que quede bien
                        compacto. Envuélvelo completamente con papel de aluminio y sella los lados.

                        <br>
                        6
                        Lleva al horno por media hora. Pasado ese tiempo, descubre el pan de carne para que se dore.
                        Déjalo cocinar por unos 20 minutos más, ya que es importante que quede bien cocido en el centro.
                        <br>
                        7
                        Sirve el pan de carne acompañado con la guarnición de tu preferencia, una ensalada verde fresca
                        y unas papas al vapor son la mejor opción.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-5 row mx-auto text-center ml-auto align-self-center mt-4">
        <div class="col-md-6 mx-auto">
            <div class="card" style="width:30rem;">
                <div class="card-header">Pollo a la miel</div>
                <img src="../../assets/img/pollo_a_la_miel_73742_600.jpg" class="card-img-top sizeimage" alt="...">
                <div class="card-body scroll">
                    <h5 class="card-title">Receta de Pollo a la miel</h5>
                    <p class="card-text text-left">El pollo es conocido y utilizado en todo el mundo, hay tantas recetas
                        de pollo que sería casi imposible enumerarlas aquí mismo. Esto es así debido a que del pollo se
                        aprovecha absolutamente todo. Este hecho, sumado a su versatilidad para cocinarlo, lo convierten
                        en uno de los productos más apreciados en todo el mundo. Además, su carne no aporta apenas
                        calorías y forma parte de las carnes blancas, lo que quiere decir que es un alimento muy
                        saludable y recomendado. <br>

                        INGREDIENTES:</p> <br>
                    <p class="text-left">
                        ♦3 contramuslos de pollo (u otra parte) <br>
                        ♦1 taza de miel <br>
                        ♦3 cucharadas soperas de vinagre de manzana o blanco <br>
                        ♦1 chorro de salsa de soja <br>
                        ♦1 pastilla de caldo de pollo <br>
                        ♦1 cebolla blanca <br>
                        ♦3 pellizcos de sal y pimienta negra <br>
                        ♦1 puñado de avellanas <br>
                        ♦1 tomate rallado <br>
                        ♦2 hojas de laurel <br>
                        ♦1 cucharada postre de perejil y tomillo <br>
                        ♦2 vasos de agua<br>
                        <br>
                        <br>
                        Pasos a seguir para hacer esta receta: <br>
                        1
                        Lava, seca y salpimienta la carne.Puedes hacer esta receta de pollo a la miel con cualquier
                        parte del animal e, incluso, con el pollo entero troceado, puesto que la receta será la misma.
                        <br>
                        2
                        Pon en una olla un chorro de aceite de oliva y, cuando esté humeante, dora el pollo por ambos
                        lados, así se sellará y su piel quedará doradita y crujiente. Una vez dorado, sácalo y
                        resérvalo.
                        <br>
                        3
                        Pica un puñado de avellanas tostadas previamente, intentando que no queden demasiado picadas. De
                        esta forma, quedará con unos trocitos a la hora de servir el pollo con la salsa de miel.

                        <br> 4
                        Pela y corta en rodajas una cebolla grande o dos pequeñas. Si prefieres utilizar otro tipo de
                        cebolla, puedes hacerlo sin problema.

                        Truco: Si eres de los que prefiere no notar tanto la textura de la cebolla, también puedes
                        picarla finamente.

                        <br> 5
                        Coloca la olla de nuevo en el fuego, con el mismo aceite que has usado para sellar la carne, y
                        sofríe la cebolla. Remueve para que se dore por todas partes y no llegue a quemarse. Luego,
                        retírala de la olla y resérvala.

                        <br>
                        6
                        Sofríe el tomate rallado añadiendo las hojas de laurel, tomillo y perejil picado. Remueve y deja
                        la preparación al fuego durante un par de minutos a temperatura baja.

                        <br> 7
                        Añade a la olla la pastilla de caldo desmenuzada o diluida en un poco de agua, como más te
                        guste. Acto seguido, vierte la salsa de soja y el vinagre y mezcla bien.

                        <br> 8
                        Deposita la miel en la olla mientras la salsa se está cociendo lentamente. A continuación,
                        agrega el pollo y medio litro de agua para terminar de formar la salsa. Como ves, esta receta de
                        pollo a la miel se puede hacer con cualquier parte del pollo porque la carne se guisa en la
                        propia salsa.

                        <br>
                        9
                        Introduce los ingredientes que quedan, es decir, la cebolla rehogada y la avellana picada, tapa
                        y cocina el pollo con salsa de soja y miel durante 30 minutos a fuego lento.</p>
                </div>
            </div>

        </div>

        <div class="col-md-6">
            <div class="card" style="width:30rem;">
                <div class="card-header">Pollo al papillote</div>
                <img src="../../assets/img/pollo_al_papillote_72163_600.jpg" class="card-img-top sizeimage" alt="...">
                <div class="card-body scroll">
                    <h5 class="card-title">Receta de Pollo al papillote</h5>
                        <p class="card-text text-left">La receta de pollo al papillote que compartimos en RecetasGratis
                            es
                            baja en calorías y apta para casi todo tipo de dietas. Así mismo, es fácil, rápida y está
                            deliciosa. El resultado es una pechuga de pollo jugosa y muy sabrosa, puesto que hemos
                            elaborado
                            un adobo delicioso que aporta muchísimo sabor al plato. Y para acompañar y complementar la
                            receta, hemos integrado algunas verduras, que aportan fibra, vitaminas y minerales.
                        </p>
                        <p class="text-left">
                            INGREDIENTES <br>
                            ♦1 pechuga de pollo <br>
                            ♦1 limón <br>
                            ♦2 cucharadas de postre de aceite de oliva extra virgen <br>
                            ♦1 cucharada postre de mostaza Dijion (o amarilla) <br>
                            ♦1 diente de ajo <br>
                            ♦1 rama de tomillo fresco a gusto <br>
                            ♦2 zanahorias pequeñas <br>
                            ♦2 patatas pequeñas <br>
                            ♦1 pizca de sal <br>
                            ♦1 pizca de pimienta<br><br>
                            Pasos a seguir para hacer esta receta: <br>
                            1
                            Empezamos la receta de pollo al papillote preparando el adobo. Para ello, mezclamos el jugo
                            de
                            limón y la ralladura con el aceite de oliva, la mostaza el diente de ajo picado, el tomillo,
                            la
                            sal y la pimienta.
                            <br>
                            2
                            Introducimos la pechuga de pollo en el adobo y dejamos que repose en el frigorífico durante
                            20
                            minutos como mínimo para que absorba todos los sabores. Si podemos dejarlo unas 2 horas o,
                            incluso, toda la noche, mejor.
                            <br>
                            3
                            Cogemos una lámina de papel de horno y ponemos una cama de rodajas de patata. Nosotros hemos
                            escogido la variedad de patatas cambray, que se caracteriza por ser pequeña y redonda. Para
                            hacer el pollo al papillote recomendamos optar por este tipo de patatas o por cortar rodajas
                            más
                            bien finas, ya que así se hornean más rápido. Aparte, precalentamos el horno a 200 ºC.

                            <br> 4
                            Sobre las patatas ponemos la pechuga de pollo adobada, las zanahorias cortadas en tiras y
                            todas
                            las verduras que queramos añadir.

                            <br>
                            5
                            Cerramos formando un paquete con el papel, garantizando que los extremos están bien
                            sellados, y
                            horneamos el pollo al papillote durante 25-30 minutos, dependiendo del tamaño de la pechuga.

                            <br> 6
                            Pasado el tiempo de horneado, retiramos el paquete del horno y dejamos que repose unos 10
                            minutos.

                            <br> 7
                            Abrimos con cuidado el paquete, ya que saldrá todo el vapor concentrado, y servimos la
                            receta de
                            pollo al papillote con verduras de inmediato. Sin duda, este es un plato saludable, fácil y
                            rápido, ideal para el almuerzo o la cena. Podemos acompañarlo con una ensalada de tomate,
                            una
                            ensalada de atún o la que más nos guste.
                        </p>
                </div>
            </div>
        </div>
    </div>
</div>