<!-- Todas las recetas son tomadas desde https://www.cocinacaserayfacil.net/ -->
<div class="container mt-9 mb-4">
    <div class="row mx-auto text-center ml-auto align-self-center">
        <div class="col-md-6 mx-auto">
            <div class="card" style="width:30rem;">
                <div class="card-header">ARROZ CON POLLO Y VERDURAS</div>
                <img src="../../assets/img/arroz-con-pollo-y-verduras.jpg" class="card-img-top sizeimage" alt="...">
                <div class="card-body scroll">
                    <h5 class="card-title">RECETA DE ARROZ CON POLLO Y VERDURAS</h5>
                    <p class="card-text text-left">Cocina Casera » RECETAS CON ARROZ
                        El arroz con pollo y verduras, es una de las formas más populares de preparar este cereal. Y
                        también más
                        saludable. Es una receta de cocina muy típica de España y de toda América latina. Cuenta con
                        todas las
                        proteínas del pollo (y su falta de grasa) y las vitaminas del arroz y de la verdura. Una comida
                        que no
                        puedes dejar de preparar y que sirve como plato único, debido a lo completa que es. Su
                        elaboración, es
                        similar a la de una paella aunque sus ingredientes, son otros. Para preparar este arroz con
                        pollo y
                        verduras, necesitaremos los siguientes ingredientes:.</p>
                    <p class="text-left">INGREDIENTES PARA DOS PERSONAS:
                        <br>
                        ♦200g de arroz <br>
                        ♦400g de caldo de pollo o verduras<br>
                        ♦1 cebolla<br>
                        ♦1/2 pimiento verde y 1/2 rojo<br>
                        ♦2 dientes de ajo<br>
                        ♦2 tomates pelados<br>
                        ♦300g de pechuga de pollo<br>
                        ♦150g de guisantes<br>
                        ♦unas hebras de azafrán (o colorante alimentario)<br>
                        ♦sal y pimienta<br>
                        ♦aceite<br>
                        COMO HACER HACER ARROZ CON POLLO Y VERDURAS FACIL: <br>
                        1.- Ponemos un chorrete de aceite a calentar a fuego medio en alguna cacerola muy ancha. Como
                        una paella. Mientras se calienta, picamos la cebolla, los pimientos y los dientes de ajo y los
                        añadimos. Echamos una pizquita de sal y cocinamos mientras revolvemos de vez en cuando con una
                        cuchara de palo durante unos 5 minutos.
                        <br>
                        2.- Pasado el tiempo añadimos las pechugas de pollo cortadas en trozos grandes. Si lo prefieres
                        podrías utilizar muslos en vez de pechugas. Subimos el fuego un poco y cocinamos todo durante
                        otros 5-10 minutos. Hasta que el pollo coja algo de colorcito por fuera (tampoco demasiado).
                        <br>
                        3.- Cuando el pollo tenga algo de color, es el momento de echar el tomate picado y pelado.
                        Cocinamos mientras removemos todos los ingredientes durante otros 5 minutos más.
                        <br>
                        4.- Es el momento de echar el arroz. Poco a poco nuestro arroz con pollo y verduras va tomando
                        forma. Lo echamos y lo integramos con la cuchara con el resto de ingredientes, mientras dejamos
                        cocinar un minuto más ¡Que absorba todos los juguitos de la verdura y el pollo!
                        <br>
                        5.- Es el turno de echar el resto de ingredientes que faltan. Primero echamos el caldo de pollo
                        o verduras. El doble de cantidad que de arroz (dos vasos). Después las hebras de azafrán. Si no
                        tienes azafrán puedes echar colorante alimentario pero, ya no será lo mismo. Añadimos también
                        los guisantes y finalmente rectificamos de sal. El caldo debe quedar más bien sabroso, ya que el
                        arroz es un alimento bastante soso de por sí y absorberá gran parte de la sal. Si nos quedamos
                        cortos de sal, el arroz sabrá muy soso
                        <br>
                        6.- Removemos durante un par de minutos todos los ingredientes para que queden colocados de la
                        forma más uniforme posible sobre la cacerola que estemos empleando. Después bajamos el fuego a
                        potencia suave y dejamos cocer, sin remover en ningún momento más, durante 15 o 20 minutos.
                        Hasta que no quede caldo
                        <br>
                        7.- Cuando el arroz haya absorbido prácticamente todo el caldo, apagamos el fuego, tapamos la
                        cacerola con un paño limpio y dejamos reposar 5 minutos más. Así, nos aseguramos que tendremos
                        un arroz bien sabroso y «al dente»</p>
                </div>
            </div>

        </div>

        <div class="col-md-6">
            <div class="card" style="width:30rem;">
                <div class="card-header">BOLAS DE ARROZ ITALIANAS RELLENAS</div>
                <img src="../../assets/img/Bolas-de-arroz.jpg" class="card-img-top sizeimage" alt="...">
                <div class="card-body scroll">
                    <h5 class="card-title">RECETA DE BOLAS DE ARROZ ITALIANAS RELLENAS</h5>
                    <p class="card-text text-left">Cocina Casera » RECETAS CON ARROZ
                        Estas bolas de arroz rellenas, las probé hace poco cuando estuve por primera vez en una conocida
                        pizzería de la ciudad en la que resido. Palencia. La pizzería en concreto se llama Kuró. Allí,
                        pedimos unas pizzas y también estas bolas de arroz. Cada una con un relleno distinto. Me
                        sorprendieron y agradaron mucho. Tanto es así que me decidí poco después a prepararlas en casa.
                        Y ahora, quiero ponerla aquí. Vayamos con la receta de las bolas de arroz rellenas.

                        <br>
                        INGREDIENTES HACER 4 UNIDADES:</p>
                    <p class="text-left">
                        ♦400g de arroz redondo <br>
                        ♦800ml de agua, para cocer el arroz <br>
                        ♦125g de queso mozarella fresco <br>
                        El relleno que queramos. Las de la foto, son unas espinacas cocidas <br>
                        ♦harina, huevo batido y pan rallado, para empanarlas <br>
                        ♦Aceite <br>
                        ♦Sal <br>
                        COMO HACER BOLAS DE ARROZ ITALIANAS RELLENAS: <br>
                        1.- Cocemos el arroz. En una cazuela echamos el agua y la llevamos a ebullición. Una vez hierva,
                        echamos una pizca de sal y el arroz. Dejamos cocer a fuego medio unos 15 minutos. Hasta que el
                        arroz haya absorbido todo el agua y esté al dente

                        <br>

                        2.- Apartamos el arroz del fuego y echamos la mozarrella fresca partido en trocitos. Removemos
                        para que se integre y se derrita bien con el arroz y después dejamos que el arroz se temple un
                        poco
                        <br>
                        3.- Ahora, cogemos una porción del arroz. Lo aplastamos un poco y ponemos enmedio el relleno que
                        queramos (no mucho). Puede ser espinacas, jamón york y queso, una gamba, atún, una buena
                        boloñesa o lo que queramos… Lo importante es que tenga un delicioso «regalito» en su interior
                        <br>
                        4.- Cogemos otra porción de arroz del mismo tamaño y lo colocamos encima del relleno. Le damos
                        forma de bola. Al final, debe quedarnos una bola del tamaño aproximado de una pelota de tenis.
                        Son bolas bastante grandes.
                        <br>
                        5.- Embadurnamos bien la bola por harina, huevo batido y pan rallado. Terminamos de darle la
                        forma
                        <br>
                        6.- Finalmente freímos en abundante aceite. El aceite debe estar caliente pero no demasiado que,
                        son unas bolas de arroz rellenas bastante gordas. A unos 150ºC. Una vez fritas, retiramos y
                        colocamos sobre papel absorbente. ¡riquísimas!
                        <br> <br>
                        Unas bolas de arroz rellenas muy buenas. Y una estupenda forma de sorprender a tus invitados o
                        familiares. El relleno, como decía, es totalmente opcional. ¡Prueba a hacerlas!
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row mx-auto text-center ml-auto align-self-center mt-4">
        <div class="col-md-6 mx-auto">
            <div class="card" style="width:30rem;">
                <div class="card-header">BOLITAS DE ARROZ Y QUESO RECETA CASERA</div>
                <img src="../../assets/img/bolitas-de-arroz-y-queso.jpg" class="card-img-top sizeimage" alt="...">
                <div class="card-body scroll">
                    <h5 class="card-title">RECETA DE BOLITAS DE ARROZ Y QUESO RECETA CASERA</h5>
                    <p class="card-text text-left">Las bolitas de arroz y queso es una receta muy práctica. Está
                        deliciosa y además, puedes emplear arroz que te haya sobrado del día anterior. Claro está que,
                        también puedes preparar arroz fresco, para hacer este delicioso plato. Se hace con ingredientes
                        bastante básicos y no lleva demasiado tiempo ni esfuerzo hacerlas. Si acaso dar la forma de las
                        bolitas. Como resultado, tendremos una bola empanada y rellena de arroz con queso derretido. En
                        su núcleo, además, introduciremos una pequeña porción de mozzarella. ¡Mucho más queso derretido
                        aún! Para preparar estas bolitas de arroz y queso, necesitaremos los siguientes ingredientes.
                        <br>

                        INGREDIENTES PARA DOS PERSONAS:</p>
                    <p class="text-left">
                        ♦200g de arroz redondo <br>
                        ♦2 dientes de ajo <br>
                        ♦50g de mozzarella rallada <br>
                        ♦50g de mozzarella fresca <br>
                        ♦1 cucharadita de orégano <br>
                        ♦Pan rallado <br>
                        ♦1 huevo <br>
                        ♦Sal y pimienta <br>
                        ♦Aceite <br>
                        <br>
                        RECETA DE LAS BOLITAS DE ARROZ Y QUESO CASERAS:
                        <br>
                        1.- En una cazuelita ponemos un chorrito de aceite a fuego suave. Añadimos los dientes de ajo y
                        dejamos cocinar un par de minutos. La idea no es dorar el ajo si no aromatizar el aceite con su
                        sabor. Por eso es mejor hacerlo a fuego muy suave
                        <br>
                        2.- Añadir el arroz y remover con una cuchara de madera a fuego medio durante un minuto más.
                        <br>
                        3.- Es el momento de añadir el agua. El doble de cantidad que de arroz así que, si habíamos
                        puesto 200g de arroz, ponemos 400ml de agua. Puedes añadir caldo de ave o de verduras, si lo
                        prefieres. Añadir una pizca de sal y dejar cocinar el arroz a fuego medio-bajo unos 15 minutos.
                        Hasta que haya absorbido todo el agua
                        <br>
                        4.- Una vez cocido el arroz dejar enfríar completamente en la nevera. A partir de este punto,
                        los pasos a seguir son los mismos que si tuvieses un arroz que sobró del día anterior


                        <br>
                        5.- Aderezamos el arroz ya frío al gusto. Ponemos un poco de pimienta negra recién molida, una
                        cucharadita de orégano seco y queso mozzarella rallado. Removemos bien con la cuchara de madera
                        <br>
                        6.- Ahora cogemos una pequeña porción del arroz y la aplastamos con la otra mano un poco en el
                        centro. En ese lugar, ponemos una pequeña porción de queso mozzarella fresco. Después cogemos
                        otra porción un poco más grande y la ponemos encima. Damos forma de bola de tal forma que esa
                        porción de queso quede encerrada en su interior. Aségurate de prensar bien la bola o si no corre
                        después el peligro de deshacerse. Al final, quedará una bolita que cabrá ampliamente en la palma
                        de nuestras manos. Del tamaño similar a una pelota de tenis.
                        <br>
                        7.- Pasar la bola por harina, después por huevo batido y finalmente por pan rallado. Una vez
                        empanadas todas, dejar en un plato y congelar durante 10 minutos, para que la masa se asiente
                        bien. También podrías meterla en la nevera durante 30 minutos
                        <br>
                        8.- Freír en abundante aceite que esté bastante caliente. Hacerlo hasta que las bolas estén
                        doradas por fuera y el queso de su interior (tanto el rallado como el fresco) esté totalmente
                        fundido. Llevará alrededor de 3 o 4 minutos así que no pongas el aceite a máxima potencia.
                        Finalmente retirar y poner sobre papel absorbente, antes de comer
                        <br>
                        <br>
                        Y así de fácil es preparar estas bolitas de arroz y queso. La parte de empanarlas es quizás la
                        más engorrosa pero, en cuestión de 30 minutos (una vez tengas el arroz cocido) ¡estarán en la
                        mesa!</p>
                </div>
            </div>

        </div>

        <div class="col-md-6">
            <div class="card" style="width:30rem;">
                <div class="card-header">ARROZ CON LECHE DE COCO</div>
                <img src="../../assets/img/Arroz-con-leche-de-coco-680x350.jpg" class="card-img-top sizeimage"
                    alt="...">
                <div class="card-body scroll">
                    <h5 class="card-title">RECETA DE ARROZ CON LECHE DE COCO</h5>
                    <p class="card-text text-left">Arroz con leche de coco. Una receta latinoamericana. De hecho allí,
                        depende qué país visites, te lo puedes encontrar desde salado hasta dulce. Nosotros vamos a
                        preparar aquí un postre parecido a nuestro arroz con leche, pero con coco. Así lo preparan en
                        países como venezuela.
                        <br> Para preparar esta receta necesitaremos los siguientes ingredientes: <br></p>
                    <p class="text-left">
                        ♦100g de arroz <br>
                        ♦500ml de leche entera <br>
                        ♦500ml de leche de coco <br>
                        ♦Una rama de canela <br>
                        ♦Un trozo de cáscara de limón <br>
                        ♦Un trozo de cáscara de naranja <br>
                        ♦1 nuez de mantequilla <br>
                        ♦100g de azúcar <br>
                        ♦canela molida <br><br>
                        RECETA DEL ARROZ CON LECHE DE COCO: <br>
                        1.- En una cazuela, ponemos el arroz, la cáscara del limón, la cáscara de la naranja, la rama de
                        canela y la leche entera y la de coco. Puedes cambiar las proporciones de las leches a tu gusto.
                        Al final, tiene que sumar todo un litro, por cada 100g de arroz.
                        <br>
                        2.- Calentamos a fuego medio. Esto no debe llegar nunca a hervir a grandes borbotones -pequeños
                        sí- o de lo contrarío, se quemará y quedará inservible.
                        <br>


                        3.- Cocinamos a fuego medio durante unos 45 minutos. De vez en cuando removemos.
                        <br>
                        4.- Al final, el arroz debe quedar blando. Con una proporción de leche adecuada. Que no quede ni
                        muy líquido ni muy sólido, tampoco. Ten en cuenta que, una vez esté frío esto espesará bastante
                        así que, durante la cocción, que a la vista parezca un poco licuado
                        <br>
                        5.- Una vez esté hecho, apagamos el fuego y añadimos el azúcar y la mantequilla. Apagamos el
                        fuego e integramos todo bien. Después ponemos en cuencos individuales. Las cáscaras y la rama de
                        canela las desechamos. Espolvoreamos cada cuenco con un poco de canela molida y dejamos templar
                        unos 15 minutos a temperatura ambiente
                        <br>
                        6.- Introducimos en la nevera y dejamos mínimo 4 horas. Hasta que se enfríe por completo. Si
                        dejamos una noche entera, mejor todavía
                        <br><br>
                        El toque del coco le da un sabor diferente a esta elaboración. ¡Pruébalo!
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- Recetas de https://www.recetasgratis.net/ -->
    <div class="row mx-auto text-center ml-auto align-self-center mt-4">
        <div class="col-md-6 mx-auto">
            <div class="card" style="width:30rem;">
                <div class="card-header">FABES CON ALMEJAS DE LA ABUELA</div>
                <img src="../../assets/img/bolitas-de-arroz-y-queso.jpg" class="card-img-top sizeimage" alt="...">
                <div class="card-body scroll">
                    <h5 class="card-title">RECETATA DE FABES CON ALMEJAS DE LA ABUELA</h5>
                    <p class="card-text text-left">Las fabes con almejas son un plato tradicional asturiano, una
                        preparación hecha con legumbres que gusta mucho, es sencilla y cuenta con el delicioso sabor de
                        los mariscos. Lo más importante para conseguir una buena receta de fabes con almejas es utilizar
                        buenas alubias y almejas frescas, ¡así quedará de lujo!

                        Junto con la fabada asturiana, las fabes con almejas es de esos platos de la cocina de Asturias
                        que no puedes dejar de probar. En RecetasGratis queremos enseñarte la forma más tradicional y
                        hogareña de hacerlo para que consientas a tus seres queridos y disfruten de todo el sabor de
                        esta preparación. ¡Descubre cómo hacer fabes con almejas asturianas, una receta de la abuela que
                        te encantará!<br>

                        INGREDIENTES:</p>
                    <p class="text-left">

                        ♦500 gramos de alubias <br>
                        ♦1 hoja de laurel <br>
                        ♦1 cebolla <br>
                        ♦4 dientes de ajos
                        Para las almejas <br>
                        ♦500 gramos de almejas <br>
                        ♦2 dientes de ajos <br>
                        ♦1 cucharada sopera de harina <br>
                        ♦150 mililitros de vino blanco <br>
                        ♦1 cucharada sopera de pimentón dulce o picante <br>
                        ♦1 chorro de aceite de oliva <br>
                        ♦1 pizca de sal <br>
                        <br>
                        Pasos a seguir para hacer esta receta: <br>
                        1-Pon las alubias en remojo durante 8 horas o déjalas toda la noche hasta el día siguiente,
                        escurre el agua.
                        <br>
                        Echa las alubias en una cazuela con agua limpia, añade una cebolla entera o partida por la
                        mitad, una hoja de laurel y dos dientes de ajo enteros. Déjalas cociendo a fuego fuerte. Cuando
                        empiece a hervir el agua, añade un vaso de agua fría para asustarlas y déjelas cocinando a fuego
                        medio hasta que estén listas (aproximadamente 2 horas).
                        <br>
                        2-Por otro lado, pon las almejas en agua con dos cucharadas de sal durante una o dos horas.

                        Truco: Si quieres hacer una receta más rápida, puedes hacer fabes con almejas de bote.
                        <br>
                        3-Pica 2-3 dientes de ajos. Echa un chorro de aceite en una sartén y cocina los ajos a fuego
                        bajo
                        para que no se quemen.
                        <br>
                        4-Añade una cucharada de harina y remueve.
                        <br>

                        5-Añade el pimentón dulce o picante (también puedes usar mitad de uno y mitad de otro). Remueve
                        y,
                        enseguida, añade el vino blanco. Deja un par de minutos para que se evapore el alcohol.
                        <br>
                        6-Añade un vaso pequeño de agua y echa las almejas en la sartén, déjalas hasta que se abran.
                        Añade
                        un poco de sal y pimienta. Apaga y reserva hasta que las alubias estén listas y puedas continuar
                        con la receta de fabes con alubias asturianas.
                        <br>
                        7-Prueba que las alubias estén tiernas y saca la cebolla, la hoja de laurel y los ajos. Añade
                        las
                        almejas con toda su salsa, deja que se cocinen todos los ingredientes a fuego suave durante 10
                        minutos. Prueba de sal si hace falta o añade más pimentón si te gusta más fuerte. ¡Tus fabes con
                        almejas de la abuela estarán listas para comer!
                    </p>
                </div>
            </div>

        </div>

        <div class="col-md-6">
            <div class="card" style="width:30rem;">
                <div class="card-header">LENTEJAS CON VERDURAS CON MYCOOK TOUCH</div>
                <img src="../../assets/img/Arroz-con-leche-de-coco-680x350.jpg" class="card-img-top sizeimage"
                    alt="...">
                <div class="card-body scroll">
                    <h5 class="card-title">RECETA DE LENTEJAS CON VERDURAS CON MYCOOK TOUCH</h5>
                    <p class="card-text text-left">Las lentejas con verduras son todo un clásico de la gastronomía
                        española. Sin embargo, cocinarlas requiere tiempo y dedicación, por lo que muchas veces optamos
                        por elaborar otras recetas y no disfrutamos del gran aporte de nutrientes que este plato nos
                        ofrece. Si lo hacemos sin ningún tipo de carne, esta receta es apta para personas que siguen una
                        alimentación vegana, para aquellas que quieren perder peso o, simplemente, comer de una forma
                        más saludable.

                        Si eres de esas personas que no tienes tiempo suficiente como para hacer platos de cuchara como
                        este, ¡tenemos la solución! Los robots de cocina como Mycook Touch de Taurus permiten cocinar
                        platos completos sin apenas esfuerzo, por lo que podemos realizar otras tareas mientras la
                        máquina cocina por nosotros. Si todavía no tienes el tuyo, en RecetasGratis ahora puedes
                        conseguir 500 € de descuento si eres de las primeras 15 personas en entrar en este enlace. Así
                        pues, compra tu Mycook y ahorra en tu robot de cocina. Y si ya dispones de este fantástico
                        robot, ¡seguro que algún familiar o amigo puede aprovechar el descuento! Además, a continuación
                        te enseñamos cómo hacer lentejas con verduras con Mycook Touch. ¡te encantarán!
                        <br> Para preparar esta receta necesitaremos los siguientes ingredientes: <br></p>
                    <p class="text-left">
                        ♦200 gramos de lentejas pardinas (secas o de bote) <br>
                        ♦1 patata mediana <br>
                        ♦1 zanahoria mediana <br>
                        ♦1 pimiento verde <br>
                        ♦½ pimiento rojo <br>
                        ♦½ cebolla blanca <br>
                        ♦50 gramos de puerro <br>
                        ♦2 dientes de ajo <br>
                        ♦1 tomate (preferiblemente maduro) <br>
                        ♦1 pizca de sal <br>
                        ♦1 pizca de pimienta negra <br>
                        ♦1 pizca de comino molido <br>
                        ♦Agua o caldo de verduras (cantidad necesaria) <br>
                        ♦20 gramos de aceite de oliva <br>
                        ♦1 puñado de arroz (opcional) <br><br>
                        <br>
                        Pasos a seguir para hacer esta receta: <br>
                        1-Lo primero que debes hacer es calentar el aceite. Para ello, vierte la cantidad indicada y
                        programa tu Mycook a velocidad 2, 120º y 1 minuto.
                        Truco: Si usas lentejas secas, no es necesario dejarlas en remojo para hacer esta receta con
                        Mycook.
                        <br>
                        2-Una vez caliente, agrega los dientes de ajo pelados, la cebolla pelada y troceada y el puerro
                        también troceado. No es necesario que piques mucho estos ingredientes porque podrás triturarlos
                        antes de agregar las lentejas, si así lo deseas. Programa la máquina a velocidad 2, 100º y 3
                        minutos.

                        <br>
                        3-Incorpora los pimientos troceados, la zanahoria cortada en rodajas y el tomate pelado entero.
                        Programa tu Mycook a velocidad 2, 100º y 1 minuto.

                        Truco: Puedes pelar el tomate con un pelapatatas o haciendo un corte en cruz y cocinándolo en
                        agua hirviendo unos segundos; la piel saldrá sola.
                        <br>
                        4-Si quieres que tus lentejas con verduras con Mycook queden sin trozos de los ingredientes
                        anteriores, tritúralo todo a velocidad 5, sin temperatura y durante 1 minuto.
                        <br>
                        5-Añade la patata pelada y cortada, las lentejas escurridas, sal, pimienta y comino. Cubre por
                        completo las lentejas con agua o caldo de verduras y permite que el líquido sobrepaso un dedo.
                        Si usas lentejas de bote, deberás programar la máquina a velocidad 2, 100º y 10 minutos. Si usas
                        lentejas secas, tendrás que aumentar el tiempo a 40 minutos. De forma opcional, puedes añadir un
                        puñado de arroz.

                        Truco: Para que suelte mejor el almidón y las lentejas con verduras con Mycook queden más
                        espesas, casca la patata en lugar de cortarla en trozos iguales.
                        <br>

                        6-Prueba de sal y rectifica si es necesario. ¡Tus lentejas con verduras con Mycook están listas!
                        Como ves, esta es una receta muy sencilla y perfecta para cualquier momento, ya que el robot
                        cocina por ti. Si quieres preparar un menú completo, te recomendamos consultar estas otras
                        recetas:
                        <br>
                        Arroz con leche con Mycook Touch
                        Croquetas de pollo con Mycook TOUCH

                        7-Recuerda que en RecetasGratis puedes conseguir 500 € si realizas tu compra a través de este
                        enlace: "Compra tu Mycook". Eso sí, este descuento solo estará activo para las 15 primeras
                        personas que lo canjeen, ¡date prisa!
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row mx-auto text-center ml-auto align-self-center mt-4">
        <div class="col-md-6 mx-auto">
            <div class="card" style="width:30rem;">
                <div class="card-header">ESPAGUETIS CARBONARA RECETA TRADICIONAL</div>
                <img src="../../assets/img/Espagueti-a-la-carbonara.jpg" class="card-img-top sizeimage" alt="...">
                <div class="card-body scroll">
                    <h5 class="card-title">RECETATA DE ESPAGUETIS CARBONARA RECETA TRADICIONAL</h5>
                    <p class="card-text text-left">Los espaguetis a la carbonara es probablemente la forma más
                        internacional de preparar esta pasta. La auténtica salsa carbonara de italia contiene yema de
                        huevo, queso y bacon. No tiene nata, ingrediente que le solemos añadir en España. Incluso hay
                        muchas versiones que tan solo contienen nata. Puedes hacerla así, si quieres pero aquí, haremos
                        unos espaguetis a la carbonara auténticos. Y para ello, los ingredientes que necesitaremos
                        serán:<br>

                        INGREDIENTES PARA 4 PERSONAS:</p>
                    <p class="text-left">
                        ♦400g de espagueti <br>
                        ♦2 huevos <br>
                        ♦150g de queso curado (parmesano, manchego…) <br>
                        ♦120g de bacon o panceta <br>
                        ♦sal y pimienta <br>
                        ♦un pequeño chorrito de aceite de oliva <br>
                        <br>
                        Pasos a seguir para hacer esta receta: <br>
                        1.- Ponemos un puñadito de sal (generoso) en abundante agua hirviendo. Después añadimos los
                        espagueti y los dejamos cocer aquí alrededor de 10 minutos. hasta que estén al «dente». Conviene
                        removerlos con frecuencia sobre todo al principio de la cocción, para que no se peguen.
                        <br>
                        2.- Mientras se cuecen preparamos la carbonara. En un bol añadimos las yemas de los huevos. La
                        clara es mejor guardarla para otra elaboración ya que, si la añadimos, parecerá más una tortilla
                        de espaguetis, que una salsa en sí. Pero si no te importa, puedes añadirla. Añadimos también el
                        queso rallado y mezclamos ambos ingredientes con un tenedor. Quedará una especie de masa muy
                        densa y ésta, será la carbonara.
                        <br>
                        3.- En una sartén ponemos un pequeño chorrito de aceite. Cuando esté bien caliente, añadimos el
                        bacon o la panceta, cortado en dados más bien pequeños. Pasados un par de minutos, cuando estén
                        fritos, retiramos del fuego y reservamos
                        <br>


                        4.- Una vez hecho esto y cuando los espaguetis estén cocinados, guardamos unos cuantos
                        cucharones del caldo de la cocción. Después escurrimos los espaguetis del resto del caldo
                        <br>
                        5.- Sin demora, ya que será el propio calor residual de los espagueti los que vayan a cocinar la
                        carbonara, echamos la pasta en el bol donde la habíamos preparado. Añadimos el bacon, con el
                        juguito que hayan podido soltar y un poco del caldo de la cocción. Removemos todo bien con un
                        tenedor para que los espaguetis absorban toda la salsa. Si ves que queda muy densa, puedes
                        añadir más caldo de la cocción, hasta que haya quedado una salsa muy cremosa (no olvides remover
                        enérgicamente todo. La pasta es muy porosa y absorbe las salsa con relativa facilidad. Pero
                        necesita ser removido para ayudar a este proceso)
                        <br>
                        6.- Finalmente, cuando hayamos conseguido la cremosidad de la salsa deseado, espolvorear con
                        abundante pimienta negra recién molida. Se dice que el nombre «carbonara» viene del color que le
                        da esta especia, que recuerda el color del carbón. Servir inmediatamente
                        <br><br>
                        Estos son los auténticos espaguetis a la carbonara. Sin nata. Aunque si los quieres con nata,
                        puedes probar a eliminar el caldo de la cocción y sustituirlo por este ingredientes. Sea como
                        sea como más te gusten, ¡espero que los prepares!
                    </p>
                </div>
            </div>

        </div>

        <div class="col-md-6">
            <div class="card" style="width:30rem;">
                <div class="card-header">MACARRONES CON CARNE PICADA Y TOMATE</div>
                <img src="../../assets/img/Macarrones-con-carne-picada-y-tomate.jpg" class="card-img-top sizeimage"
                    alt="...">
                <div class="card-body scroll">
                    <h5 class="card-title">RECETA DE MACARRONES CON CARNE PICADA Y TOMATE</h5>
                    <p class="card-text text-left">Macarrones con carne picada y tomate. Una forma muy fácil y rápida de
                        preparar pasta. Y también barata. Los tendrás listo en cuestión de 30 minutos. ¡Y el resultado
                        será espectacular! Puedes preparar esta recete con otra pasta a tu gusto, como espagueti o
                        tallarines. Sea como sea, probablemente termines untando en pan. Para preparar estos macarrones
                        con carne picada y tomate necesitarás:
                        <br> Para preparar esta receta necesitaremos los siguientes ingredientes: <br></p>
                    <p class="text-left">
                        ♦500g de macarrones <br>
                        ♦500g de carne picada o molida. Mejor si es mezcla de ternera y cerdo
                        <br> ♦500g de tomate frito (salsa de tomate)
                        <br> ♦1 cebolla <br>
                        ♦4 dientes de ajo <br>
                        ♦orégano seco <br>
                        ♦sal y pimienta <br>
                        ♦aceite<br><br>
                        <br>
                        Pasos a seguir para hacer esta receta: <br>
                        1.- Cocemos los macarrones. Para ello, los introducimos en una cazuela con abundante agua
                        hirviendo. Añadimos un buen puñadito de sal y los cocemos durante unos 12-15 minutos. Hasta que
                        estén al dente. Removemos de vez en cuando, sobre todo al principio, para que no se peguen al
                        fondo de la olla
                        <br>
                        2.- Mientras se cocinan, podemos ir preparando la salsa. En una sartén amplia, ponemos a
                        calentar un chorrito de aceite a fuego medio. Después añadimos la cebolla y los ajos picados muy
                        finos. Salpimentamos y removemos con una cuchara de palo mientras cocinamos durante 5 minutos
                        <br>


                        3.- Pasado el tiempo, añadimos la carne picada. la salpimentamos y la desmenuzamos con la
                        cuchara de palo para que no queden mazacotes grandes y quede bien suelta. Subimos la fuerza del
                        fuego y la dejamos cocinar hasta que coja algo de color
                        <br>
                        4.- Una vez hecho esto, añadimos el tomate frito y espolvoreamos con orégano seco. Mezclamos
                        todos los ingredientes y dejamos cocinar 10 minutos más.
                        <br>
                        5.- Cuando los macarrones estén al dente, reservamos uno 150ml del caldo de la cocción en un
                        vaso y los escurrimos del resto del agua
                        <br>
                        6.- Cuando tanto los macarrones como la salsa estén cocinados, añadimos los macarrones a la
                        cazuela donde esté la salsa. Añadimos el caldo de la cocción (que potenciará todos los sabores)
                        y lo mezclamos todo bien, mientras cocinamos todo durante un par de minutos
                        <br><br>
                        Y así de fácil tendrás tus macarrones con carne y picada y tomate. Muy fáciles de hacer. ¡Y
                        gustarán tanto a mayores como a niños!
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>