<header class="masthead">
    <div class="container h-100">
        <div class="row h-100 align-items-center justify-content-center text-center">
            <div class="col-lg-10 align-self-end">
                <h1 class="text-uppercase text-white font-weight-bold">Baker</h1>
                <hr class="divider my-4" />
            </div>
            <div class="col-lg-8 align-self-baseline">
                <p class="text-white-75 font-weight-light mb-5">La mejor pagina web de recetas</p>
            </div>
        </div>
    </div>
</header>

<section class="page-section">
    <div class="container">
        <h2 class="text-center">Nuestras recetas</h2>
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <h3 class="h4 mb-2">Aves y Carnes</h3>
                    <p class="text-muted mb-0  text-left">
                        Las carnes de aves destacan por ser ligeras, fáciles de digerir y masticar, y por su menor
                        contenido calórico en comparación con otras carnes como la de ternera y cerdo.

                        Consumo de carne sostenible para respetar el medioambiente.
                        Estas carnes son ricas en proteínas, sobre todo la parte de la pechuga, de alto valor biológico.
                        Dicho de otra manera, las carnes de aves contienen una proteína de alta calidad.

                        En relación con su contenido en grasas, predominan los ácidos grasos saturados y el colesterol.
                        La grasa está principalmente localizada en la piel, por tanto, es recomendable retirarla para
                        eliminar su contenido sobre todo en dietas para el control del peso.
                    </p> <br>
                    <div class="text-center" routerLinkActive="active">
                        <a class="btn btn-primary" routerLink="../Aves">Ver recetas</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <h3 class="h4 mb-2">Postres</h3>
                    <p class="text-muted mb-0  text-left">
                        El postre es el plato de sabor dulce o agridulce que se toma al final de la comida, o de
                        merienda. Cuando se habla de postres se entiende alguna preparación dulce, bien sean cremas,
                        tartas, pasteles, helados, bombones, etc. Por extensión se denomina postre a cualquier comida
                        dulce incluso si su objetivo no es ser ingerida al final de la comida. Algunos ejemplos son las
                        galletas , chocolates y magdalenas.

                        Los postres han sido siempre el broche de oro de una comida. Un buen postre, resaltará la
                        satisfacción de los alimentos anteriores. En muchos casos se planean como una agradable
                        sorpresa.
                    </p>
                    <br><br><br> <br>
                    <div class="text-center" routerLinkActive="active">
                        <a class="btn btn-primary" routerLink="../Postres">Ver recetas</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <h3 class="h4 mb-2">Arroz, Legumbres y Pastas</h3>
                    <p class="text-muted mb-0  text-left">
                        proceden de variedad de especies como patatas. En las seis partes principales de las planta, las
                        semillas son la fuente dominante de calorías y proteínas humanas.1​ Las otra cinco partes
                        principales de la planta son raíz, tallos, hojas, flores, y frutos. La mayoría de las semillas
                        comestibles son angiospermas, pocos son gimnospermas. La fuente más importante de alimento
                        mundial de semillas, su peso, es cereal, seguido de legumbres, y nueces. <br>
                        La pasta es un conjunto de alimentos preparados con una masa cuyo ingrediente básico es la harina,mezclada con agua, y a la cual se puede añadir sal, huevo u otros ingredientes, conformando un producto que generalmente se cuece en agua hirviendo.
                    </p>
                    <div class="text-center" >
                        <a class="btn btn-primary" routerLink="../Arroz">Ver recetas</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <h3 class="h4 mb-2">Sopas</h3>
                    <p class="text-muted mb-0  text-left">
                        La sopa es una preparación culinaria que consiste en un líquido con sustancia y sabor.1 En
                        algunos casos posee
                        ingredientes sólidos de pequeño tamaño sumergidos en su volumen. Una de sus características
                        principales es que se
                        ingiere con cuchara. Si no tuviera ingredientes sólidos (vegetales o productos cárnicos), se
                        considera un caldo
                        alimenticio, base de todas las sopas. Si se clarifica, será un consomé. La sopa suele
                        proceder
                        de una preparación
                        culinaria con evaporación, como es el cocido, o mediante retención de vapores: estofado.
                        Tradicionalmente, se puede
                        espesar añadiendo al final de la cocción pan o cereales, como el arroz, fideos, frijoles o
                        pasta
                        menuda.
                    </p> <br>
                    <div class="text-center" routerLinkActive="active">
                        <a class="btn btn-primary" routerLink="../Sopas">Ver recetas</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>